html {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  font-family: Georgia;
}

p {
  text-align: justify;
}

h1 {
  text-align: center;
  font-family: "comic sans ms";
  font-size: 60px;
  color: darkblue;
}

h4 {
  text-align: center;
  font-style: italic;
}

h3 {
  a {
    color: red;
    text-decoration-thickness: 1px;
  }
}

#l {
  text-align: center;
  color: orange;
}
#v {
  text-align: right;
}

p a:hover {
  font-weight: bold;
  text-decoration: none;
}

#t {
  font-weight: bold;
  text-decoration: none;
}
h3 {
  text-align: center;
  font-size: larger;
}
